<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mithraw.howwasyourday">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.RateADay"
            android:label="@string/app_name" />
        <activity
            android:name=".Activities.SettingsActivity"
            android:label="@string/action_settings" />
        <activity
            android:name=".Activities.DiagramActivity"
            android:label="@string/action_stats_diagrams" />
        <activity
            android:name=".Activities.LogsActivity"
            android:label="@string/action_entry_logs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.DonationActivity" />
        <activity
            android:name=".Activities.FunnyStatsActivity"
            android:label="@string/action_funny_stats" />
        <activity android:name=".Activities.ExpandedDayActivity" />

        <receiver android:name=".Tools.TimeAlarm">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="@string/notificationIntentAction" />
                <action android:name="@string/syncIntentAction" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Services.NotificationIntentService"
            android:enabled="true" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider163663807786742"
            android:exported="true" />
        <provider
            android:name="com.commonsware.cwac.provider.StreamProvider"
            android:authorities="com.mithraw.howwasyourday.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="com.commonsware.cwac.provider.STREAM_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".Activities.AboutTheAuthorActivity"></activity>
    </application>

</manifest>